body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

a, button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
    @media (min-width: 768px) {
        max-width: 768px;
      }
    @media (min-width: 1200px) {
      max-width: 1200px;
    }
      
  
  // max-width: 1200px;

  /* outline: #2196f3 1px solid; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--mobile {
  @media (max-width: 1200px) {
    padding: 60px 0;
  }
}

.section-title {
   font-size: 28px;
    margin-bottom: 30px;
      font-weight: 700;
        line-height: 1.17;
        text-align: center;
        color: var(--secondary-text-color);
  @media (min-width: 1200px) { 
    font-size: 36px;
    margin-bottom: 50px;  
    }



}