:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;

  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1200px;
}